<html>
  <head>
    <title>{{title_text}}</title>
  </head>
  <body>
    <div class="scene">
      <div class="sceneContent">
        {{scene_text}}
      </div>
    </div>
    <div class="event">
      <div class="eventContent">
        {{event_text}}
      </div>
    </div>
  </body>
</html>
